$search-wrapper_stars-color: #ed2e7e;
$travelulu-brand-color: #5f2eea;
$success-border-text-color: #00ba88;
$success-background-color: #f2fffb;
$alert-border-text-color: #ed2e7e;
$alert-background-color: #fff3f8;
$landing-titles-color: #4e4b66;
$search-box-stats-numbers-color: #2a00a2;
$icons-color: #bca4ff;
