$highlight-color: #ed2e7e;
$primary-color: #5f2eea;
$dark-color: #000000;
$light-color: #fff;
$text-color: #4e4b66;
$success-color: #00ba88;
$text-lighter-color: #6e7191;
$secondary-color: #2a00a2;
$medium-color: #14142b;
$soft-gray: #d9dbe9;
