@use "../base/variables" as v;

.searcher-primary {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.searcher-primary__wrapper-input {
  position: relative;
  min-width: 260px;
  max-height: 56px;
}

.searcher-primary__input {
  min-width: 260px;
  height: 56px;
  width: 100%;
}

.searcher-primary__select-icon {
  position: absolute;
  max-width: 8px;
  aspect-ratio: 1/1;
  top: 50%;
  /* left: 100px; */
  right: 25px;
  transform: translateY(-50%);
}

@media screen and (min-width: 1200px) {
  .searcher-primary {
    flex-direction: row;
  }
  .searcher-primary--bigger {
    flex-grow: 2;
  }
}
